//Estilo de la pagina web//

/* following two viewport lines are equivalent to meta viewport statement above, needed for Windows */


/* see http://www.quirksmode.org/blog/archives/2014/05/html5_dev_conf.html and http://dev.w3.org/csswg/css-device-adapt/ */

@-ms-viewport {
    width: 100vw;
    min-zoom: 100%;
    zoom: 100%;
}

@viewport {
    width: 100vw;
    min-zoom: 100% zoom: 100%;
}

@-ms-viewport {
    user-zoom: fixed;
    min-zoom: 100%;
}

@viewport {
    user-zoom: fixed;
    min-zoom: 100%;
}


/* este es el elemento para pantallas grandes*/

@media screen and (min-width: 480px) {
    img{
     max-width:100%;
     max-height: 100%;   
    }
    #user_name {
        font-weight: bold;
        color: rgba(0, 0, 650, 0.5);
        display: inline-block;
        caption-side: right;
    }
    /*buscador*/
    #busqueda {
        width: 100%;
        top: +100%;
        margin-top: 10%;
        padding-right: 10%;
    }
    #user_img {
        max-width: 60px;
        max-height: 60px;
        min-width: 30px;
        width: 40px;
        height: 40px;
        min-height: 30px;
        border-radius: 50%;
        margin-right: 30px;
    }
    #tabla_resultado {
        color: black;
        background-color: white;
        display: none;
        position: fixed;
        transition: 0.5s;
    }
    #games_bar {
        background-color: rgba(100, 100, 100, 0.6);
        height: 100%;
        width: 1%;
        top: 11%;
        position: fixed;
        transition: 0.5s;
        left: -0.1%;
    }
    #games_bar:hover {
        background-color: rgba(100, 100, 100, 1);
        background-color: #333;
        height: 100%;
        width: 25%;
        top: 11%;
        position: fixed;
        left: -0.1%;
    }
    #games_barcontent {
        background-color: transparent;
    }
    #regresar_registro {
        float: left;
        background-color: rgba(30, 60, 100, 0.7);
        border: none;
        color: rgba(300, 300, 300, 1);
        text-decoration: none;
        padding: 1%;
        cursor: pointer;
        border-radius: 1px;
    }
    #regresar_registro:hover,
    active {
        background-color: rgba(30, 60, 100, 0.9);
        border: none;
        color: rgba(300, 300, 300, 1);
        text-shadow: rgba(100, 200, 300, 0.7) 0px 0px 10px;
        box-shadow: rgba(100, 200, 300, 0.6) 0px 0px 10px 3px;
        padding: 1%;
        text-decoration: none;
        cursor: pointer;
        border-radius: 1px;
    }
    #dropdown {
        z-index: 100;
        position: fixed;
        padding-left: 1%;
        padding-right: 10%;
        right: 0.2%;
        top: 11%;
        overflow: hidden;
        background-color: #333;
        box-shadow: black 0px 10px 8px;
        width: 25%;
    }
    /*imagen que sale en las publicaciones de los usuarios*/
    #users_img {
        padding: 0px;
        margin: 0px;
        width: 100%;
        height: 100%;
        max-width: 2vw;
        max-height: 4vh;
        border-width: 1px;
        border-color: gray;
        border-style: solid;
        border-radius: 100%;
        display: inline-flex;
    }
    #publicacion {
        text-underline-position: auto;
        text-decoration-line:
    }
    #textarea {
        margin-bottom: none;
        padding-bottom: none;
        width: 100%;
        height: 100%;
        min-height: 150px;
        resize: none;
        border: none;
        border: 0px;
        margin: 0px;
        word-wrap: break-word;
        background-color: font-size: 100%;
    }
    #posttext {
        margin-bottom: none;
        padding-bottom: none;
        width: 100%;
        height: 100%;
        min-height: 150px;
        resize: none;
        border: none;
        border: 0px;
        margin: 0px;
        word-wrap: break-word;
        font-size: 100%;
    }
    th {
        border: 1px solid black;
        margin: none;
        padding: none;
    }
    #login_text {
        background-color: rgba(30, 60, 100, 0.7);
        border: none;
        color: rgba(300, 300, 300, 0.9);
        padding: 0px;
        text-decoration: none;
        cursor: pointer;
        margin: 0px;
    }
    #register_button {
        background-color: rgba(70, 70, 60, 0.9);
        border: none;
        color: rgba(300, 300, 300, 1);
        padding: 8px 12px;
        text-decoration: none;
        margin: 4px 2px;
        cursor: pointer;
        border-radius: 15px;
        float: right;
    }
    #register_button:hover,
    active {
        background-color: rgba(70, 70, 60, 0.9);
        border: none;
        color: rgba(300, 300, 300, 1);
        padding: 8px 12px;
        text-decoration: none;
        margin: 4px 2px;
        cursor: pointer;
        border-radius: 15px;
        float: right;
        text-shadow: rgba(150, 200, 300, 0.4) 0px 0px 10px;
        box-shadow: rgba(150, 200, 300, 0.4) 0px 0px 10px 3px;
    }
    #login_button {
        background-color: rgba(30, 60, 100, 0.9);
        border: none;
        color: rgba(300, 300, 300, 1);
        padding: 16px 32px;
        text-decoration: none;
        margin: 4px 2px;
        cursor: pointer;
    }
    #login_button:hover,
    active {
        background-color: rgba(30, 60, 100, 0.9);
        border: none;
        color: rgba(300, 300, 300, 1);
        text-shadow: rgba(100, 200, 300, 0.7) 0px 0px 10px;
        box-shadow: rgba(100, 200, 300, 0.6) 0px 0px 10px 3px;
        padding: 16px 32px;
        text-decoration: none;
        margin: 4px 2px;
        cursor: pointer;
    }
    .inputfile+label * {
        pointer-events: none;
    }
    input[type=file] {
        mask-type: alpha;
    }
    .inputfile+label {
        cursor: pointer;
    }
    .inputfile:focus+label {
        outline: 1px dotted #000;
        outline: -webkit-focus-ring-color auto 5px;
    }
    #style_btn {
        color: rgba(100, 100, 100, 0.5);
        background-color: rgba(100, 100, 0, 0);
        border: 0px;
        color: white;
        margin: 0px;
        padding: 0px;
    }
    #Cabecera {}
    * {
        margin: 0px;
        padding: 0px;
    }
    body {
        background-color: darkgrey;
        font-family: arial;
        font-weight: bold;
        font-size: auto;
    }
    #navigationbar {
        position: fixed;
    }
    @media screen(max-width: 950px;
    ) {
        /*imagen que sale en las publicaciones de los usuarios*/
        #users_img {
            padding: 0px;
            margin: 0px;
            width: 100%;
            height: 100%;
            max-width: 2vw;
            max-height: 4vh;
            border-width: 1px;
            border-color: gray;
            border-style: solid;
            border-radius: 100%;
            display: inline-flex;
        }
        /*boton que parece en la barra superior de la pagina */
    }
    #logoimg {
        padding: 0px;
        margin: 0px;
        width: 100%;
        height: 100%;
        max-width: 60px;
        max-height: 60px;
    }
    #publicacion_border {
        border: 2px solid red;
        border-radius: 5px;
    }
    #publicacionimg {
        padding: 0px;
        margin: 0px;
        width: 100%;
        height: 100%;
        margin-top: 0px;
        padding-top: 0px;
        margin-left: 0.5%;
        margin-right: 0.5%;
        padding-left: 0.5%;
        padding-right: 0.5%;
        max-width: 98%;
        max-height: 100%;
    }
    #botton_de_usuario2 {
        margin: 0px;
        padding: 0px;
        display: none;
        float: left;
    }
    /*aqui aparecera el nombre de usuario*/
    #mostrar {
        margin: 0px;
        padding: 0px;
        background-color: lightgray;
        border: solid white 2px;
        color: black;
    }
    #botondelogin {
        display: none;
    }
    /*video*/
    #video {
        height: 100%;
        width: 100%
    }
    #div {
    
        background-color: white;
        margin: 0px;
        padding: 2%;
        margin-top: 60px;
        box-shadow: black 0px 10px 9px;
        margin-right: 0%;
        margin-left: 21%;
        font-size: 100%;
        max-width: 50%;
    

    }
    #registrar {
        text-decoration: none;
        text-shadow: gray 1px 1px 1px;
        color: rgba(300, 300, 300, 0.7);
    }
    #registrar:hover {
        text-decoration: none;
        text-shadow: gray 1px 1px 1px;
        color: rgba(0, 300, 300, 0.7);
    }
}


/*pagina para movil*/

@media only screen and (max-width: 900px) {
    /*se encarga de que la cabecera cambie el tamaño de letra al ser mas pequeña la pantalla*/
    img{
        max-width:100%;
        max-height: 100%;   
       }
    #header {
        font-size: 12px;
    }
    /*imagen de ususario*/
    #user_img {
        max-width: 60px;
        max-height: 60px;
        min-width: 30px;
        width: 40px;
        height: 40px;
        min-height: 30px;
        border-radius: 50%;
        margin-right: 30px;
    }
    /*imagen que sale en las publicaciones de los usuarios*/
    #users_img {
        padding: 0px;
        margin: 0px;
        width: 100%;
        height: 100%;
        max-width: 40px;
        max-height: 90px;
        border-width: 1px;
        border-color: gray;
        border-style: solid;
        border-radius: 100%;
        display: inline-flex;
    }
    /*div blanco de las publicaciones(conetenedor)*/
    #div {
        background-color: white;
        margin: 0px;
        padding: 10px;
        margin-top: 60px;
        box-shadow: black 0px 10px 9px;
        margin-right: 0%;
        margin-left: 0%;
        font-size: 100%;
        max-width: 100%;
    }
    /*boton que parece en la barra superior de la pagina */
}

#logoimg {
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: 100%;
    max-width: 100px;
    max-height: 100px;
    float: left;
}


/*imagen de las publicaciones*/

#publicacionimg {
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: 100%;
    margin-top: 0px;
    padding-top: 0px;
    margin-left: 0.5%;
    margin-right: 0.5%;
    padding-left: 0.5%;
    padding-right: 0.5%;
    max-width: 98%;
    max-height: 100%;
}

#user_name {
    left: 100%;
    display: table-caption;
    font-weight: bold;
    color: rgba(0, 0, 650, 0.5);
    display: inline-block;
    caption-side: right;
}


/*buscador*/

#busqueda {
    width: 100%;
    top: +100%;
    margin-top: 10%;
    padding-right: 10%;
}

#Cabecera {}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: darkgrey;
    font-family: arial;
    font-weight: bold;
    font-size: auto;
}


/*pie de pagina*/

#footer {
    position: relative;
    z-index: 999;
    top: 10vh;
    background-color: rgba(250, 250, 250, 0.7);
    padding: 3vh;
    box-shadow: black 0px -5px 9px;
    font-size: 100%;
    width: 100%;
    height: 10vh;
    margin: 0vh;
}


/*este corchete debe estar separado ya que solo sirve para manetener el estilo de los telefonos celulares de pantallas menores a  900px de ancho */


}

/**/